<section class="projects">
  <!-- <div class="purple-dot">
    <span class="title">{{ LABELS.TITLE }}</span
    >.
  </div> -->
  <div class="projects-detail">
    <div class="project-info">
      <div class="img-container img-container-1">
        <p-image [src]="LABELS.WEATHERSRC" alt="Image" [preview]="true" />
      </div>
      <h2>{{ LABELS.WEATHERTITLE }}</h2>
      <p>
        {{ LABELS.WEATHERINFO }}
      </p>
    </div>
    <div class="project-info">
      <div class="img-container img-container-2">
        <p-image [src]="LABELS.SPOTIFYSRC" alt="Image" [preview]="true" />
      </div>
      <h2>{{ LABELS.SPOTIFYTITLE }}</h2>
      <p>
        {{ LABELS.SPOTIFYINFO }}
      </p>
    </div>
  </div>
</section>
